extends layout 

block content 
    .inner 
        h2=title
    .map 
        .autocomplete 
            input.autcomplete__input(type="text" placeholder="search for anything" name="geolocate")
        #map 
            p loading Map...